:root{
    --black: black;
    --violet: #331D2C;
    --white: white;
    --lightblue: #f8fbfd;
    --paleyellow: #D49B54;
}
.quoteMainDiv{
    background-color: var(--violet) ;
    color: var(--white);
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) scale(1.5);
    border: 2px solid var(--paleyellow);
    border-radius: 2%;
    width:50%;
    box-shadow: 6px 6px var(--paleyellow);
}

.quoteMainDiv>h1{
    text-align: center;
    margin-top:4vh;

}
.quoteSubDiv{
    /* background-color: aquamarine; */
    text-align:center;
    /* margin: 0vh 5vh; */
    font-size:25px;
    margin-bottom:5vh;
    
    /* width:50vh */
}

.quoteSubDiv>div:nth-child(2){
    color: var(--lightblue);
}

.quoteMainDiv>button{
    /* transform: scaleX(25%); */
    transform: scale(2) translate(180px,8px);
    /* transform:translateX(20vh); */
    background-color: var(--paleyellow);
    width:30px;
    height:30px;
    border:none !important;
    border-radius: 50%;
    display:grid;
    place-items: center;
    justify-content:center;
}
.quoteMainDiv>button:focus{
    outline: none !important;
    
}
.quoteMainDiv>button:hover{
    transform: scale(2.1) translate(172px,8px);
    box-shadow: 0px 0px 10px var(--paleyellow);
    cursor: pointer;

}

