.navbar{
    background-color:var(--paleyellow) !important;
}
.nav-link{
    color:var(--white) !important;

}
.nav-tabs{
    /* border-bottom: 0px !important; */
    background-color:var(--paleyellow) !important;
}
.navbar-nav .nav-link:hover{
    background-color: var(--paleyellow) !important;
    border-bottom:1px solid var(--paleyellow) !important;
    transition: all 0.3s ease-in-out;  
    
}
.navbar-nav .nav-link.active{
    background-color: var(--paleyellow) !important;
    color:var(--black) !important;
    border-bottom:1px solid var(--paleyellow) !important;
    transition: all 0.3s ease-in-out;
}
